<div *ngIf="book">
    <div class="description-container">

        <div class="img-container">
            <img src="{{book.image}}">
        </div>

        <div class="text-container">
            <h1 class="book-name">{{book.name | uppercase}}</h1>
            <p class="book-description">{{book.description}}</p>

            <div [ngClass]=" book.quantity > 0 ? 'book-quantity' : 'hide' ">Book quantity: {{book.quantity}}</div>
            <div [ngClass]=" book.quantity == 0 ? 'book-quantity' : 'hide' ">SOLD OUT</div>
            <p class="book-price">${{book.price}}.00</p>
        </div>

    </div>


<div class="container">
    <h3>Update Book</h3>
    <form  [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value,file.files)">
      <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="book.name" formControlName = "name"placeholder={{book.name}}>
      </div>
      <div class="form-group">
       <label>Author</label>
       <input class="form-control" type="text" name="author" [(ngModel)]="book.author" formControlName = "author" placeholder={{book.author}}>
   </div>
   <div class="form-group">
    <label>Description</label>
    <input class="form-control" type="text" name="description" [(ngModel)]="book.description" formControlName = "description" placeholder={{book.description}}>
 </div>
 <div class="form-group">
    <label>Price</label>
    <input class="form-control" type="number" name="price" [(ngModel)]="book.price" formControlName = "price" placeholder={{book.price}}>
 </div>
 <div class="form-group">
    <label>Currency</label>
    <input class="form-control" type="text" name="currrency" [(ngModel)]="book.currrency" formControlName = "currrency" placeholder={{book.currrency}}>
 </div>
 <div class="group-form">
    <label>Image</label>
    <div class="row" style="margin-bottom:15px;">
      <div class="col-md-3">
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
      </div>
      <div class="col-md-4">
        <span class="upload" *ngIf="progress > 0">
          {{progress}}%
        </span>
        <span class="upload" *ngIf="message">
          {{message}}
        </span>
      </div>
    </div>
  </div>
 <div class="form-group">
    <label>Quantity</label>
    <input class="form-control" type="number" name="quantity" [(ngModel)]="book.quantity" formControlName = "quantity" placeholder={{book.quantity}}>
 </div>
       <input type="submit" value="Submit" class="btn">
    </form>
 
 </div>
</div>