
   <div class="home-book">
      <div class="search-container">
         <div>
            
         </div>
         <div><input class="form-control search-book" [(ngModel)]="searchName" type="text" name="search" placeholder="Search"
            aria-label="Search" (keyup)="onSearchByName($event)">
         </div>
         <div></div>
         
      </div>
      
      <div class="book-container" >
         <div class="book-item" *ngFor="let book of books" routerLink="/book/{{book.id}}">
            <span class="book-name">{{book.name}}</span>
            <span class="book-author">{{book.author}}</span>
            <img src="{{book.image}}" class="book-image" >
            <p class="book-price">{{book.currrency}} {{book.price}}.00</p>
            <button class="delete-button" (click)="deleteBook(book.id)">Delete book</button>
         </div>
         <div [ngClass]=" isAdmin ? 'book-item' : 'hide'" id="add-book" routerLink="/add">
            <img src="../../../assets/plus.svg" class="add-book-img">
         </div>
      </div>
   </div>
   