<div class="grid">
   <ul *ngFor="let book of books" class="card promoting-card">
      <div class="card-body d-flex flex-row" routerLink="/book/{{book.id}}">
         <div>
            <h4 class="card-title font-weight-bold mb-2">
               {{book.name}}
            </h4>
            <p class="card-text"><i class="far fa-clock pr-2"></i>release</p>
            <small class="text-muted mouse" (click)="showItem(book)">Show More</small>
         </div>
      </div>
      <div class="view overlay">
         <img src={{book.image}} alt={{book.name}} class="card-img-top rounded-0">
         <a href="#!">
            <div class="mask rgba-white-slight"></div>
         </a>
      </div>
      <div class="card-body">
         <div class="collapse-content"></div>
      </div>
   </ul>
   <ul class="card promoting-card">
      <div class="card-body d-flex flex-row" routerLink="/add">
        <h1>ADD BOOK</h1>
      </div>
   </ul>
</div>
