<div class="container">
   <h3 class="text-white">Update your profile {{userService.user.firstName}}</h3>
   <form (ngSubmit)="onSubmit()">
     <div class="form-group">
         <label>First name</label>
         <input class="form-control" type="text" name="firstName" [(ngModel)] = "user.firstName"placeholder="First name">
     </div>
     <div class="form-group">
      <label>Last name</label>
      <input class="form-control" type="text" name="lastName" [(ngModel)] = "user.lastName" placeholder="Last name">
  </div>
  <div class="form-group">
   <label>New Address</label>
   <input class="form-control" type="text" name="address" [(ngModel)] = "user.address" placeholder="Address">
</div>
  <div class="form-group">
   <label>New Email</label>
   <input class="form-control" type="email" name="email" [(ngModel)] = "user.email" placeholder="Email">
</div>
<div class="form-group">
   <label>Change password</label>
   <input class="form-control" type="password" name="password" [(ngModel)] = "user.password" placeholder="Current password">
   <input class="form-control" type="password" name="password2" [(ngModel)] = "password2" placeholder="New password">
   <input class="form-control" type="password" name="password2" [(ngModel)] = "password3" placeholder="Repeat password" (key.enter)="update(false)">
</div>

      <input type="submit" value="Submit" class="btn" (click)="update(false)">
   </form>

</div>