.wrapper {
    margin: 0;
    width: 90%;
    cursor: pointer;
}
header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(50, 50, 50, 0.384);
    box-shadow: 0 10px 20px rgba(50, 50, 50, 0.24);
}

nav {
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}

nav a {
    font: 1.2em/1em sans-serif;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    float: right;
}
.H3{
    float: left;
    color: white;
    width: 40%;
    padding-left: 2%;
    text-decoration: none;
    outline: none;
}
@media only screen and (max-width: 600px){
    header{
    background: rgba(50, 50, 50, 0.384);
    box-shadow: none;
    }
    nav{
        //display: flex;
        flex-direction: column;
        //padding-left: 33%;
    }
    .H3{
        text-align: center;
        margin-left: 15px;
        width: 100%;
    }
    nav a{
        //float: left;
        display: inline;
        //text-align: center;

    }
    // .burger-nav{
    //     background-image: url("../../../../assets/burger-nav.png");

    // }
    // .wrapper{
    //     height: 0;
    //     overflow: hidden;
    // }
    // .open{
    //     height: auto;

    // }
    
}
